{% block header %}
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-4 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-4 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-5">Tweet Scanner</span>
          </a>

          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            {% if user.is_authenticated %}
              <li class="nav-item"><a href="{% url 'index' %}" class="nav-link active" aria-current="page">Scan a User</a></li>
              <li class="nav-item"><a href="{% url 'user_search_history' %}" class="nav-link active" aria-current="page">User Search History</a></li>
              <li class="nav-item"><a href="{% url 'twitter_logout' %}" class="nav-link">Logout</a></li>
            {% else %}
              <li class="nav-item"><a href="{% url 'index' %}" class="nav-link active" aria-current="page">Home</a></li>
            {% endif %}
          </ul>
        </header>
    </div>
{% endblock %}
