{% block header %}
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-4 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-4 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-3" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-5">Tweet Scanner</span>
          </a>

          <ul class="nav nav-pills">
            {% if user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'index' %}" class="nav-link active" aria-current="page">Search</a></li>
              <li class="nav-item"><a href="{% url 'twitter_logout' %}" class="nav-link">Logout</a></li>
            {% else %} 
            <li class="nav-item"><a href="{% url 'index' %}" class="nav-link active" aria-current="page">Home</a></li>
            {% endif %}
          </ul>
        </header>
    </div>
{% endblock %}