{% extends "authorization/base.html" %}
{% load crispy_forms_tags %}


{% block maincontent %}
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Enter the Twitter Username whose tweets you want to scan for <a href="https://github.com/unitaryai/detoxify">"toxicity"</a>!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <form method="post">
            <div class="invalid-feedback">{{form_errors }}</div>
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-lg btn-outline-primary justify-content-center" value="Scan the Twitters">
          </form>
        </div>
    </div>
{% endblock%}
