{% extends "render/base.html" %}

{% block maincontent %}


    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Enter the Twitter Username you want to scan!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        {% load crispy_forms_tags %}
        <form method="post">
          {% csrf_token %}
              {{form|crispy}}
            <input type="text" id="twitter_username" class="form-control" value="{{ user.username}}">
            <input type="submit" class="w-50 btn btn-md btn-outline-primary justify-content-center" value="Scan the Twitters">
          </form>
        </div>
    </div>
{% endblock %}